<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <header>
        @RenderBody();
        <nav>
            <ul>
                <li>Corso Cucina</li>
                <li>Corso Barman</li>
                <li>Corso Tatuaggi</li>
                <li>Corso Horigami</li>
                <li>Corso Yoga</li>
            </ul>
        </nav>
    </header>
    <footer><p>Contattaci al numero 0812948345 </p></footer>
</body>
</html>